:root {
  --main-color: white;
  --text-color: black;
  --typecomment-color: #3085e0;
  --sidebar-color: rgb(215, 215, 215);
  --home-color: rgb(0, 128, 124);
}

body {
  background-color: var(--main-color);
  -webkit-transition:  500ms linear;
  -ms-transition:  500ms linear;
  transition:  500ms linear;
  color: var(--text-color);
}

form {
  background: var(--main-color);
  width: 50%;
  -webkit-transition:  500ms linear;
  -ms-transition:  500ms linear;
  transition:  500ms linear;
}

.form-input {
  margin: 10px 0px;
}

.form-input input, .form-input textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: 2px solid lightgray;
  padding: .375rem .75rem;
  outline: none;
  position: relative;
  background: var(--main-color);
  color: var(--text-color);
}

.rating {
  font-size: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.rating > input{
  display:none;
}

.rating > label {
  color: #FFD700;
  cursor: pointer;
}

.rating > label::before{
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1;
}

.rating > input:checked ~ label:before{
  opacity:1;
}
  
.rating:hover > input:checked ~ label:before{ 
  opacity: 0.4;
}

.submit_button {
  background-color: var(--typecomment-color);
  color: #fff;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
  position: relative;
}

.comment__display {
  border: 1px solid lightgrey;
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
  width: 50%;
  position: relative;
  background-color: var(--main-color);
}
@media screen and (max-width: 700px) {
  .form-input input, .form-input textarea {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 2px solid lightgray;
    padding: .375rem .75rem;
    outline: none;
    position: relative;
    left:0px;
  }
  
  button {
    background-color: #326eaf;
    color: #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    outline: none;
    position: relative;
    left:0px;
    border: 2px;
  }
  
  .comment__display {
    border: 1px solid lightgrey;
    margin: 5px 0px;
    border-radius: 4px;
    padding: 10px;
    width: 50%;
    position: relative;
    left:0px;
  }
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  top: 0;
  padding: 0;
  width: 200px;
  background-color: var(--sidebar-color);
  position: fixed;
  height: 100%;
  overflow: hidden;
  -webkit-transition:  500ms linear;
  -ms-transition:  500ms linear;
  transition:  500ms linear;
}

.link {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
}
 
#home_link {
  background-color: var(--home-color);
  color: white;
}

.link:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.write_comment {
  resize: none;
}

p {
  word-wrap: break-word;
  word-break: keep-all;
}

.main {
  margin-left: 220px;
}

.user {
  border-top: #555 solid;
  position: absolute;
  height: 50px;
  bottom: 0;
  width: 200px;
  background-color: cadetblue;
  font-size: 16px;
  cursor: pointer;
}

#logout_link {
  margin-left: 0px;
  position: fixed;
  bottom: 0;
  display: none;
  border-top: #555 solid;
  border-left: #555 solid;
  border-right: #555 solid;
  border-top-right-radius: 4px;
  background-color: cadetblue;
  padding-bottom: 15px;
  font-size: 16px;
}

.icon {
  width: 30px;
  height: 30px;
  border: 1px black solid;
  border-radius: 50%;
  top: 10px;
  left: 24px;
  position: absolute;
}

.username {
  padding-left: 10px;
  top: 17px;
  left: 54px;
  position: absolute;
  color: black;
}

#upload_button {
  display: none;
}

#image_show {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px black solid;
}

#image_show:hover {
  cursor: pointer;
}

#uploaded_image {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 50%;
  background-color: white;
}

.search_bar{
  background-color: #b5baed;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 220px;
  margin-top: 10px;
}

::placeholder {
  color: var(--text-color);
  opacity: 0.7; 
}

.search_bar ::placeholder {
  color: white;
}

.input_search {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

.search_submit {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

.search-container button:hover {
  background: #ccc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

#darkmode_text {
  position: absolute;
  left: 70px;
  font-size: 24px;
  top: 5px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type = 'search']::-webkit-search-cancel-button{
	color: green;
  cursor: pointer;
}

#logout_button_link {
  color: white;
  margin-left: 10%;
}

#hide_name {
  display: none;
}

#password_menu {
  border: 1px black solid;
  background: white;

  position: fixed;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 500px;
  margin-top: -150px;
  margin-left: -250px;
  border-radius: 10px;
}

#password_page {
  padding-top: 100px;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(128, 128, 128, 0.4);
}

#password_field {
  margin: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

#old_pwd {
  width: 300px;
  height: 44px;
  font-size: 16px;
}

#old_pwd::placeholder {
  color: #555;
  opacity: 0.7 !important;
}

#new_pwd {
  width: 300px;
  height: 44px;
  font-size: 16px;
}

#new_pwd::placeholder {
  color: #555;
  opacity: 0.7 !important;
}

#password_enter {
  margin-left: 10%;
}

#pwd_legend {
  color: black !important;
}

#loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading_page {
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(128, 128, 128, 0.4);
}

.login_page {
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(244, 244, 244) !important;
}

.login_page h1 {
  color: black;
}

.login_field {
  border: 1px rgb(180, 180, 180) solid;
  background-color: white;

  position: fixed;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 450px;
  margin-top: -300px;
  margin-left: -225px;
  border-radius: 5px;
  box-shadow: 3px 3px 4px rgb(180, 180, 180);
}

.login_content {
  -webkit-animation: fadeIn 500ms linear; /* Safari */
  animation: fadeIn 500ms linear;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.login_field h1 {
  text-align: center;
  color: #007bff;
}

.login_field div{
  padding: 5%;
  text-align: center;
}

.login_text {
  width: 270px;
  height: 40px;
  border-radius: 5px;
}

.login_text::placeholder {
  color: #555;
  opacity: 0.7 !important;
}

.login_field button {
  background-color: #007bff !important;
}

.login_switch span{
  padding: 5%;
}

.login_switcher {
  color: #555 !important;
  opacity: .4 !important;
}

.login_switcher:hover {
  color: #007bff !important;
  opacity: 100% !important;
  cursor: pointer;
}

#forgot_pwd {
  color: #007bff !important;
  text-align: left;
  padding-left: 15%;
}

#forgot_pwd:hover {
  text-decoration: underline;
}

#login_button {
  width: 25%;
}

#ask_email {
  color: black;
  word-wrap: break-word ;
  word-break: keep-all;
  text-align: left;
  padding-left: 8%;
}



.mark{
  background-color: transparent;
  color: var(--text-color);
  padding: 0rem 0rem;
  font-size: 0rem;
  line-height: 0;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
  position: absolute;
  margin-left: 550px;
  margin-top: -67px;
  left:0px;
  display: inline;
}


.mark__display {
  border: 5px solid rgb(210, 158, 101);
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
  width: 30%;
  height: 50px;
  position: relative;
  margin-left: 260px;
  transition: background-color .2s;
}
.mark__display:hover{
  background-color: #4aa298;
  cursor: pointer;
}

.select {
  margin-left: 260px;

  position: relative;
}

.line {
  padding: 10px 10px 10px 10px;
}

.search_list {
  border: 3px solid rgb(116, 136, 101);
  margin: 0px 0px;
  margin-left: 220px;
  border-radius: 4px;
  padding: 0px;
  padding-left: 7px;
  padding-top: 5px;
  width: 350px;
  height: 45px;
  overflow: hidden;
  position: relative;;
  margin-bottom: -2px;
  transition: background-color .2s;
}

.search_list:hover{
  background-color: #299589;
  cursor: pointer;
}



h4{
  margin-left: 250px;
}

.popp{
  margin-left: 250px;
}

/* .pop{
  position: relative;
  
  border-radius: 0px;
  border: 4px solid rgb(116, 136, 101);
  width: 300px;
  height: 70px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: center;
  display: inline;
  font-size: 30px;
  color: #468546;
}

.pop:hover{
  background-color: #d6efb5;
  cursor: pointer;
} */
.pop{
  position: relative;
  border-radius: 0px;
  border: 4px solid rgb(116, 136, 101);
  width: 300px;
  height: 70px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: center;
  display: inline;
  font-size: 30px;
  color: #719c71;
  box-shadow: 0 0 0 0 rgba(128, 128, 128, 0.4), 0 0 0 0 rgba(128, 128, 128, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}


.pop:hover{
  background-color: #d6efb5;
  cursor: pointer;
  color: black;
  background-image: linear-gradient(225deg, #9b5a98 0%, #63a9bc 50%, #a9b95c 100%);
}

.guest_button {
  padding-top: 15px;
  display: inline-block;
  width: 99px;
  text-align: center;
  height: 50px;
  font-size: 20px;
}

.guest_button:hover {
  cursor: default;
}

.guest_button_link {
  color: black;
}

.guest_button_link:hover {
  color: white;
}

.list_icon {
  width: 30px;
  height: 30px;
  border: 1px black solid;
  border-radius: 50%;
}

.list_name {
  padding-left: 3%;
}

.list__display {
  border: 1px solid lightgrey;
  margin: 0px 0px;
  margin-top: 5px;
  border-radius: 4px;
  padding: 10px;
  padding-top: 0px;
  width: 40%;
  height: 50px;
  overflow: hidden;
  position: relative;;
  transition: all .7s;
  background-color: var(--main-color);
}

.list__display h3 {
  height: 50px;
  width: 100%;
  position: absolute;
}

.list__display div {
  position: absolute;
  margin-top: 60px;
}

.list__display:hover {
  margin-top: 5px !important;
  background-color: #299589;
  height: 150px !important;
  cursor: default;
}

.list_pwd:hover {
  cursor: pointer;
}

.user_search_bar{
  background-color: #b5baed;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user_input_search {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

.user_search_bar ::placeholder {
  color: white;
}

.pop__display {
  border: 5px solid rgb(210, 158, 101);
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
  width: 30%;
  height: 90px;
  position: relative;
  margin-left: 260px;
}
.pop__display:hover{
  background-color: #4aa298;
  cursor: pointer;
}

#pop_left {
  border-bottom-left-radius: 10px;
  border-top-left-radius:  10px;
}

#pop_right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.predict_whole{
  margin-top: -258px;
  margin-left: 490px;
  border-radius: 10px;
  border: 3px solid yellowgreen;
  width: 200px;
}

.predict_input{
  margin-left: 10px;
  position: relative;
}

.image_pre{
  margin-left: 210px;
  margin-top: 10px;
  position: relative;
  width: 451px;
  height: 360px;
  border-radius: 10px;
  border: 5px solid rgb(190, 93, 55);
}

.data_field {
  margin-left: 210px;
  width: 200px;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  height: 212px;
  padding-top: 30px;
}

.arrow_data {
  font-size: 30px;
  color: #007bff;
}

.arrow_data:hover {
  cursor: pointer;
  color: red;
}


.testing1{
  margin-left: 0px;
}

.predict_num{
  border: 5px solid blueviolet;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 210px;
  width: 500px;
  padding: 10px;
}

#predict_num_data {
  display: block;
}
